<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tk.gushizone.springcloud.mapper.StockMapper">

    <resultMap id="BaseResultMap" type="tk.gushizone.distributed.seata.domain.Stock">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="itemId" column="item_id" jdbcType="BIGINT"/>
            <result property="stock" column="stock" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,item_id,stock
    </sql>
</mapper>
